<_within file="application.html">
  <div id="planner" template="planner">
    <div id="search-widget">
      <input id="recipe-search-text" type="text"
             class="input-large search-query"
             placeholder="Search for recipes" />
      <ul id="search-results" class="search-results">
      </ul>
    </div>
    <table id="calendar" class="table table-bordered">
    </table>
    <div style="text-align: center;">
      <button id="create-shopping-list-button" class="btn btn-primary">
        Create Shopping List
      </button>
    </div>
  </div>
</_within>
