<_within file="application.html">
  <div id="shopping-list" template="shopping-list">
    <div>
      <input id="add-category-name" type="text"
             class="input-medium" placeholder="New Category Name" />
      <button id="add-category-button" class="btn btn-secondary">
        Add Category
      </button>
    </div>
    <div id="categories">
      <div class="category">
        <h2>Produce</h2>
        <ul>
          <li>
            <h3>Tomatoes</h3>
            <span>(3 large tomatoes, diced)</span>
            <span>(1 medium tomato)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</_within>
