/* CSS for recipissimo-client */

.container {
  position: relative;
}

.message {
  font-size: 60px;
  font-weight: bold;
  margin-top: 50px;
}

#search-widget .search-query {
  position: absolute;
  top: 1em;
  right: 0;
}

#search-widget ul {
  height: 6em;
  list-style:none;
}

#search-widget li {
  float: left;
  cursor: move;
  margin: 4px;
  padding: 0 8px 0 16px;
  border-radius: 8px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  background:#e4ebf0 url("/handle.png") no-repeat scroll 0 0;
}

#calendar {
  clear: both;
}

#calendar td {
  vertical-align: top;
  height: 5em;
}

#calendar img {
  margin-left: 4px;
  cursor: pointer;
}